<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Sunnyside Agency | {{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ '/scss/critical.css' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/assets/images/favicon-32x32.png' | url }}"
    />
  </head>
  <body>
    <main>{% block content %}{% endblock %}</main>
    <script src="{{ '/main.js' | url }}"></script>
  </body>
</html>
