@use "mixins";

:root {
  --colors-white: #ffffff;
  --colors-black: #000000;

  --colors-red-400: #fe7766;
  --colors-yellow-500: #fad400;

  --colors-grey-400: #a7aaad;
  --colors-grey-550: #808397;
  --colors-grey-600: #5b636d;
  --colors-grey-950: #24303e;

  --colors-green-300: #90d4c6;
  --colors-green-500: #458d7e;
  --colors-green-600: #3e7467;
  --colors-green-800: #24554a;

  --colors-blue-800: #19536c;
  --colors-blue-950: #052c3b;

  --background-color: var(--colors-white);
  --background-color-footer: var(--colors-green-300);

  --text-color-primary: var(--colors-grey-550);
  --text-color-green: var(--colors-green-600);
  --text-color-blue: var(--colors-blue-800);
  --text-color-muted: var(--colors-grey-400);
  --quote-text-color: var(--colors-grey-600);

  --header-text-color-primary: var(--colors-grey-950);
  --header-text-color-green: var(--colors-green-800);
  --header-text-color-blue: var(--colors-blue-950);
}

body {
  color: var(--text-color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-text-color-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  @include mixins.text-preset-8;
  align-items: center;
  background-color: var(--colors-white);
  border-radius: 28px;
  color: var(--header-text-color-primary);
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  min-width: 8.75rem;
  min-height: 3.5rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--colors-white);
  }
}

a.learn-more {
  @include mixins.text-preset-8;
  display: inline-block;
  color: var(--header-text-color-primary);
  text-transform: uppercase;
  text-align: center;
  position: relative;
  min-width: 137px;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: var(--colors-yellow-500);
    border-radius: 28px;
    opacity: 0.25;
    z-index: -1;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &--red {
    &::after {
      background-color: var(--colors-red-400);
    }
  }
}
