@use "fonts";
@use "reset";
@use "global";
@use "mixins";
@use "sass:map";

.background-img {
  z-index: -1;
  position: relative;
}

.content {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(3rem, 2.3838rem + 2.6291vw, 4.75rem);
}

.main-title {
  @include mixins.text-preset-2;
  text-transform: uppercase;
  color: var(--colors-white);
  text-align: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .header__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 85rem;
    padding: 2rem clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem) 0;
    position: relative;
  }

  .nav__list {
    position: absolute;
    visibility: hidden;
  }

  .nav__item {
    @include mixins.text-preset-10;
    color: var(--colors-white);
  }

  .nav-toggle {
    background: none;
    border: none;
  }
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  &__title {
    @include mixins.text-preset-4;
    text-align: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 4.25rem clamp(0rem, 2.3667rem + -3.698vw, 1.5rem);
    max-width: 27.8125rem;
    margin: 0 auto;
    p {
      @include mixins.text-preset-10;
    }
  }
  &__img--text-overlay {
    position: relative;
    .image {
      z-index: -1;
    }
    .text {
      position: absolute;
      bottom: 3.5rem;
      left: 0;
      right: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-width: 21.1875rem;
      margin: 0 auto;
      &--green {
        color: var(--text-color-green);
      }
      &--blue {
        color: var(--text-color-blue);
      }
      p {
        @include mixins.text-preset-11;
      }
    }
    .services__title {
      @include mixins.text-preset-5;
      &--green {
        color: var(--header-text-color-green);
      }
      &--blue {
        color: var(--header-text-color-blue);
        opacity: 0.75;
      }
    }
  }
}

.testimonials {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: clamp(3.5rem, 2.0687rem + 6.1069vw, 5rem);
  padding: clamp(3.4375rem, 1.0827rem + 10.0469vw, 10.125rem) 0;

  &__title {
    @include mixins.text-preset-6;
    color: var(--colors-grey-400);
    text-transform: uppercase;
  }

  &__list {
    align-items: center;
    display: grid;
    gap: clamp(2rem, 5.2143rem + -3.5714vw, 3.5rem);
    grid-template-columns: 1fr;
    padding: 0 clamp(1.5rem, -1.559rem + 13.0516vw, 10.1875rem);
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__image {
    border-radius: 100vw;
    max-width: 4.5rem;
    max-height: 4.5rem;
  }

  &__quote {
    @include mixins.text-preset-10;
    color: var(--colors-grey-600);
    margin: 3.625rem 0 clamp(2rem, -0.8571rem + 5.9524vw, 4.5rem);
  }

  &__name {
    @include mixins.text-preset-7;
    color: var(--header-text-color-primary);
    margin-bottom: 0.5rem;
  }

  &__job-title {
    @include mixins.text-preset-12;
    color: var(--colors-grey-400);
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 48rem) {
  .services {
    margin: 0 auto;
    &__img {
      margin: 0 auto;
    }
  }
  .main-title {
    @include mixins.text-preset-1;
  }
}

@media (min-width: 64rem) {
  body {
    max-width: 90rem;
    margin: 0 auto;
    position: relative;
  }

  header {
    .nav-toggle {
      height: 0;
      position: absolute;
      visibility: hidden;
    }

    .nav__list {
      align-items: center;
      display: flex;
      gap: 3rem;
      position: relative;
      visibility: visible;
    }
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    &__item {
      text-align: start;
      align-items: flex-start;
    }

    &__title {
      @include mixins.text-preset-3;
      align-self: center;
    }
  }

  .testimonials {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
