<footer class="footer">
  {% include "svgs/logo.svg" %}
  <nav class="footer__nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#">About</a></li>
      <li class="nav__item"><a href="#">Services</a></li>
      <li class="nav__item"><a href="#">Projects</a></li>
    </ul>
  </nav>
  <ul class="footer__socials">
    <li class="socials__item">
      <a href="https://www.facebook.com/">
        {% include "svgs/icon-facebook.svg" %}
      </a>
    </li>
    <li class="socials__item">
      <a href="https://www.instagram.com/">
        {% include "svgs/icon-instagram.svg" %}
      </a>
    </li>
    <li class="socials__item">
      <a href="https://www.twitter.com/">
        {% include "svgs/icon-twitter.svg" %}
      </a>
    </li>
    <li class="socials__item">
      <a href="https://www.pinterest.com/">
        {% include "svgs/icon-pinterest.svg" %}
      </a>
    </li>
  </ul>
</footer>
